.radio_lb{
    cursor: pointer;
}
.catagory_btn{
    position: relative;
}
.radio_inp{
    position: absolute;
    width: 16px;
    height: 16px;
    left: 4px;
    top: 12px;
}
@media (max-width: 1024px){
    .radio_inp{
        width: 14px;
        height: 14px;
        left: 2px;
        top: 12px;
    }
}