.mobile-only-brand{
    position: relative;
}
#search_tip{
    position: absolute;
    right: 0;
    top: 50px;
    background: #fff;
    border: 1px solid #666;
    display: none;
    z-index: 1000000;
}
#search_tip .txt-line{
    line-height: 1.8;
    font-size: 16px;
    text-indent: 6px;
}
#search_tip .txt-line:hover{
    cursor: pointer;
    background: #eee;
}
@media (max-width: 1024px){
    #search_tip{
        left: 0;
        top: 70px;
        width: 100%!important;
    }
}
.txts-line{
    cursor: pointer;
}
.txts-line:hover{
    background: #ccc;
}