.opensright .right:after{
       content: '';
       height: 50px;
       width: 10px;
       display: block;
       clear: both;
    }

.applyBtn, .cancelBtn{
	padding: 0 18px!important;
}
#daterange-btn{
	padding: 0 5px!important;
}
.select-btn{
	height: 30px!important;
	width: 30px!important;
	border-radius: 0!important;
	border-right: 1px solid #bbb!important;
	border-top: 1px solid #bbb!important;
	border-bottom: 1px solid #bbb!important;
}
#btn_white{
	background: #fff;
}
/*#line_type li{
    width: 50%;
}*/
#line_type li input{
    width: 15px;
    height: 15px;
}