.form-group_auth {
    margin-bottom: 15px;
    width: 40%;
    float: left;
    margin-left: 7%;
}
#info_warn{
    display: none;
}
#name_warn{
  display: none;
}
#name_warn,#info_warn{
    color: #e33;
}
.pass-group{
    width: 100%;
}
.pass-input{
    width: 60%;
}
#info_bgimg{
    background: url('/static/img/user/default') no-repeat;background-size: cover;
}

#edit-btn{
    width: 20%;
    margin-left:12%;
    float: left;
    border: 1px solid #999;
}
#change-pwd{
    width: 20%;
    margin-left: 10%;
    float: left;
    border: 1px solid #999
}
#change_url{
    width: 20%;
    margin-left: 10%;
    float: left;
    border: 1px solid #999
}
.sex_label{
    width: 100%;
}
.radio_sex{
    width: 40%;
    float: left;
    height: 55px !important;
    margin-top: 0 !important;
}
.form-control_auth{
    text-align: center;
}