<div class="row">
    <div class="col-sm-12 col-xs-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-heading">
                    <h3>欢迎上传手写字体进行识别，暂时只支持个位</h3>
                </div>            
                <div class="panel-body">
                    <form id='upload_file' action="" method="POST">
                        <input type="file" name="fileUpload"/>
                        <button id="submit">上传</button>
                    </form>
                </div>
            </div>
        </div>
    </div>  
</div>

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-heading">
                    <h3 id='result_head'></h3>
                </div>            
                <div class="panel-body" id="result_div">
                    <!-- 动态添加 -->
                </div>
            </div>
        </div>
    </div>  
</div>