<div class="row">
    <div class="col-sm-12 col-xs-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-heading">
                    <div align="center">
                        <h3>欢迎写下数字进行识别，暂时只支持个位</h3>
                        <canvas id="myCanvas" width="500" height="200" style="border:2px solid #6699cc"></canvas>
                        <div class="control-ops">
                            <button type="button" class="btn btn-primary" onclick="javascript:clearArea();return false;">清空画板</button>
                            Line width : <select id="selWidth">
                                <option value="1">1</option>
                                <option value="3">3</option>
                                <option value="5">5</option>
                                <option value="7">7</option>
                                <option value="9" selected="selected">9</option>
                                <option value="11">11</option>
                            </select>
                            Color : <select id="selColor">
                                <option value="black">black</option>
                                <option value="blue" selected="selected">blue</option>
                                <option value="red">red</option>
                                <option value="green">green</option>
                                <option value="yellow">yellow</option>
                                <option value="gray">gray</option>
                            </select>
                        </div>
                    </div> 
                </div>            
                <div class="panel-body">
                    <form id='upload_file' action="" method="POST">
                        <input type="file" name="fileUpload"/>
                        <button id="submit">上传</button>
                    </form>
                </div>
            </div>
        </div>
    </div>  
</div>

<div class="row">
    <div class="col-sm-12 col-xs-12">
        <div class="panel panel-default card-view">
            <div class="panel-wrapper collapse in">
                <div class="panel-heading">
                    <h3 id='result_head'></h3>
                </div>            
                <div class="panel-body" id="result_div">
                    <!-- 动态添加 -->
                </div>
            </div>
        </div>
    </div>  
</div>