.wizard > .steps > ul > li
{
    width: 20%;
}
.posi{
	float: left;
}
body{
	color:#ffffff !important;
	background: #ffffff !important;
}
.row{
	margin-left: auto !important;
    margin-right: auto !important;
    width:1500px ;

}
.form-control {
	width: 93% !important;
}
form{
	color: #000000;
}
.brand-text{
	color: #878787;
}
