.pull-left{float: left;padding:0 0 0 10px;}
#update_menu_div{display: none;}
#btn_add{
    margin-left: 10px;
}
#btn_add_menu{height: 38px;margin-left: 10px;}
#sel_menu{height: 30px;}
#update_menu{
    margin: 0 10px;
}
#datable_1 th{
    text-align: center;

}
#edit_form .form-body label{
        font-size: 17px;
        margin-right: 10px;

}
#edit_form .form-body input{
    width: 50%;
    height: 40px;
    font-size: 17px;
    
}
.change-btn{
    padding: 5px;
    width: 70px;
    margin-top: 0 !important;
    float: left;
    margin-right: 15px;
    margin-left: 36%;
}
.delete-btn{
    padding: 5px;
    width: 70px;
    margin-top: 0 !important;
}
#role_name{
    margin-bottom: 10px
}
.select_change{
    width: 30%;
    height: 40px;
}
.input-sourcename{
    margin-bottom: 20px;
}
.type-name{
    font-size: 16px;
    margin-left: 10px;
}
.zygl{
    line-height: 2.2;
    font-size: 18px;
}
.menu-name-s{
    width: 45%;
    float: left;
    margin-right: 10%
}
.menu-icon{
    width: 45%;
}